*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size:63%;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;
    background-color: rgb(40, 5, 72);

    & h2{
        color: rgb(72, 188, 188);
        font-size: large;
        letter-spacing: 2px;
    }

    & h3{
        color: antiquewhite;font-size: large;
    }
}
.cradle
{
    width: 50rem;
    height: 50rem;
    border-top: 2rem solid blueviolet;
    border-radius: 0.5rem;
    display:flex;
    justify-content: center;
    gap: 4.4rem;
    background-color: transparent;
    /* position:relative; */
}
div{
    width: .5rem;
    height: 20rem;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
}
.cradle div::before{
    content: "";
    position:absolute;
    bottom: 0%;
    width: 5rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: blueviolet;
}
.cradle div{
    position: relative;
    bottom: 0%;
}
.cradle div:first-child{
    animation: left-swing 2s linear infinite ;
    transform-origin: top;
}

@keyframes left-swing{
    0%{
        rotate: 0deg;
    }
    25%
    {
        rotate: 30deg;
    }
    50%{
        rotate: 0deg;
    }
    100%{
        rotate: 0deg;
    }
}
.cradle div:last-child{
    animation: right-swing 2s linear infinite 1s ;
    transform-origin: top;
}
@keyframes right-swing{
    0%{
        rotate: 0deg;
    }
    25%
    {
        rotate: -30deg;
    }
    50%{
        rotate: 0deg;
    }
    100%{
        rotate: 0deg;
    }
}
/* & h3{
    color: antiquewhite;
} */